<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Dept data</h1>
        
            <table border="1px">
                <tr>
                    <th>deptno</th>
                    <th>dname</th>
                    <th>loc</th>
                </tr>
                {% for do in dept %}
                <tr>
                  <td>{{do.deptno}}</td>
                  <td>{{do.dname}}</td>
                   <td>{{do.loc}}</td>
                 </tr>
                {% endfor %}
            </table>
        
    </center>
    
</body>
</html>