<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>emp data</h1>
        
            <table border="1px">
                <tr>
                    <th>deptno</th>
                    <th>ename</th>
                    <th>sal</th>
                </tr>
                {% for eo in emp %}
                <tr>
                  <td>{{eo.deptno}}</td>
                  <td>{{eo.ename}}</td>
                   <td>{{eo.sal}}</td>
                 </tr>
                {% endfor %}
            </table>
        
    </center>
    
</body>
</html>